name: Clean Workflows

on:
  workflow_dispatch:

  schedule:
    - cron: '15 9 */7 * *'
jobs:
  delete_runs:
    runs-on: ubuntu-latest
    steps:
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
       token: ${{ secrets.GITHUB_TOKEN }}
       repo: leesuncom/update
       workflow_file_name: Update.yml,clean.yml
       branch: main
       run_conclusions: |
          failure
          timed_out
       save_period: 1
       save_min_runs_number: 1
       dry: true
